doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx', crossorigin='anonymous')
    // JavaScript Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa', crossorigin='anonymous')
    |     
    link(rel='stylesheet', href='index.css')
    |
    link(rel="stylesheet", href="sidebar.css")
    |     
    title service_app   

body.w-100
  include ../components/sidebar.pug
  // header
  .d-flex.py-auto.float-end.h-100#page
    .mx-auto.my-auto
      h1.h1 ABC Sales and Services
      br
      h2.h2.px-auto billing software  
  //- .d-flex.justify-content-center
  //-   h3.h3.mx-auto Check-in
  //- |     
  //- br
  //- |     
  //- .d-flex.justify-content-around
  //-   button#bt-check-display.btn.btn-light.border.border-primary.rounded-pill.border.border-primary.rounded-pill
  //-     | check-in display
  //-   |       
  //-   button#bt-check-details.btn.btn-light.border.border-primary.rounded-pill.border.border-primary.rounded-pill
  //-     | new check-in
  //- |     
  //- br
  //- |     
  //- iframe#check-mes.d-flex.justify-content-center.mx-auto(name='hid', frameborder='0')
  //- |     
  //- table#check_table.table.table-hover.w-25.mx-auto.overflow-auto(style='max-height: 300px')
  //-   thead
  //-     tr
  //-       th check-in id
  //-       |           
  //-       th customer name
  //-       |           
  //-       th mobile number
  //-   |       
  //-   tbody#check_table_bod
  //- |     
  //- form#check-form.w-25.mx-auto.was-validated(action='check_in', method='post', target='hid')
  //-   .mb-3.mt-3
  //-     input#customer_name.form-control(placeholder='Enter customer name', name='customer_name', required='')
  //-   |       
  //-   .mb-3.mt-3
  //-     input#mobile_no.form-control(placeholder='Enter mobile number', name='mobile_no', required='')
  //-   |       
  //-   button#form-submit.btn.btn-primary.mx-auto(type='submit')
  //-     | Submit
  //- |     
  //- br
  //- |     
  //- .d-flex.justify-content-around
  //-   button#bt-cus.btn.btn-light.border.border-primary.rounded-pill
  //-     | customer
  //-   |       
  //-   button#bt-sal.btn.btn-light.border.border-primary.rounded-pill
  //-     | sales
  //-   |       
  //-   button#bt-ser.btn.btn-light.border.border-primary.rounded-pill
  //-     | service
  //- |     
  //- script(src='index.js')
