
-let arr=[{'main':'checkin','sub1':'checkin entry','sub2':'checkin review'},{'main':'service','sub1':'service entry','sub2':'service review'},{'main':'products','sub1':'product stock entry','sub2':'product stock review'}]
nav.navba.navbar-sm.bg-dark.navbar-dark.h-100#sidebar
    .container-fluid.ms-3#elements
        p.h1.text-light a&b
        br
        br
        .collapse.navbar-collapse
        ul.navbar-nav
            each i in arr
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(role="button" data-bs-toggle="dropdown")=(i.main)
                    ul.dropdown-menu 
                        li
                            a.dropdown-item(id=i.sub1.replaceAll(' ', '_'))=i.sub1  
                        li
                            a.dropdown-item(id=i.sub2.replaceAll(' ', '_'))=i.sub2 
        a(href="#") about 